<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="footer mt-auto py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Agenzia Viaggi</h5>
                    <p>La tua agenzia di fiducia dal 2024</p>
                </div>
                <div class="col-md-4">
                    <h5>Contatti</h5>
                    <p>
                        <i class="bi bi-envelope"></i> info@agenzia.com<br>
                        <i class="bi bi-telephone"></i> +39 123 456 7890
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>Social</h5>
                    <a href="#" class="text-dark me-2"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-dark me-2"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-dark"><i class="bi bi-twitter"></i></a>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <small>&copy; 2024 Agenzia Viaggi. Tutti i diritti riservati.</small>
            </div>
        </div>
    </footer>
</body>
</html>